/node_modules
/css
.DS_Store/*
/.idea.DS_Store
/.idea
/.DS_Store
assets/images/.DS_Store
assets/images/gallery/.DS_Store
assets/images/feedbacks/.DS_Store
assets/images/slider/.DS_Store
assets/fonts/.DS_Store
