
@import 'var';
// header
.navbar {
  color: white;
  font-size: 20px;
  line-height: 1;
  .nav-item {
    margin-left: 64px;
  }
  .nav-link {
    color: white;
    &:hover, &:focus {
      color: $primary;
    }
  }
}
// hero block
.card {
  //border-radius: 1rem;
}
.hero-block {
  position: relative;
  overflow: hidden;
  .hero-hdr {
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    max-width: 60vw;
  }
  .hero-bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}
//шрифты
.hero-txt {
  font-size: 24px;
  font-weight: 400;
}
.txt-50 {
  font-size: 50px;
  font-weight: 700;
  line-height: .9;
  color: #E7E9EB;
  text-transform: lowercase;
}

.cover-bg {
  object-fit: cover;
  .hero-bg-img {
    height: 100%;
  }
}
@import '../../node_modules/bootstrap/scss/bootstrap';